# Environnements Python
venv/
.venv/

# Cache Python
__pycache__/
*.pyc
.pytest_cache/

# Sorties générées localement
/agendas/
/mes_agendas/
.tmp/

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dart / Flutter
.dart_tool/